#clockContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* center the circle */
	height: 40vw;
	/*to make the height and width responsive*/
	width: 40vw;
	/*setting our background image*/
	background-size: 100%;
}

.container {
	position: relative;
}

.circle {
	top: 49.3%;
	left: 49.75%;
	transform: translate(-50%, -50%); /* center the circle */
	position: fixed;
	width: 31vw;
	height: 31vw;
	border-radius: 50%;
	opacity: .5;
	border: 10px solid red; /* set the border to a thick white line */
  	pointer-events: none; /* prevent the circle from intercepting any mouse events */
  	z-index: -1; /* set the z-index to make it display behind other content */
}

.center-circle {
	top: 49.2%;
	left: 49.8%;
	transform: translate(-50%, -50%); 
	position: fixed;
	width: .5vw;
	height: .5vw;
	border-radius: 50%;
	background-color: black;
  	pointer-events: none; 
  	z-index: -1; 
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
	width: 1%;
	height: 25%;
	top: 24%;
	left: 49%;
	opacity: 0.8;
}
  
#minute {
	width: 1%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49%;
    opacity: 0.8;
}